<% include include/main-header %>
	<link rel="stylesheet" href="assets/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owlcarousel/owl.theme.css">
    <link href="css/superfish.css" rel="stylesheet" media="screen">
</head>
<body>
	<% include include/header %>
	<!-- end topWrap -->
	
<!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider">

            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
            <h2> Jobshout Builds your online <BR> presence
so you can concentrate <BR> on building your business
              </h2>
              <p>
              Jobshout is a Job board software with integrated Recruitment process management, now with ATS ( Applicant Tracking System ). Jobshout is fully integrated with Broadbean and Social Media network sites, and it can run your entire business efficiently and save you time and money over and over again.
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
                Read more
              </a>
              <div class="da-img">
                <img SRC="img/slider.png" alt="image01" />
              </div>
            </div>
          </div>
        </div>
      </div>


            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
            <h2> Jobshout Builds your online <BR> presence
so you can concentrate <BR> on building your business
              </h2>
              <p>
              Jobshout is a Job board software with integrated Recruitment process management, now with ATS ( Applicant Tracking System ). Jobshout is fully integrated with Broadbean and Social Media network sites, and it can run your entire business efficiently and save you time and money over and over again.
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
                Read more
              </a>
              <div class="da-img">
                 <img SRC="img/slider2.jpg" alt="image01" />
              </div>
            </div>
          </div>
        </div>
      </div>


      
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>


 

    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-left wow fadeInLeft">
           <h1 >
          Why Jobshout?
            </h1>
			
			 <hr>
			 
			 <p><STRONG>Your Jobs, Everywhere, in One Click</STRONG></p>
			 <p>Jobshout builds your online presence so you can concentrate on building your business.</p>
			 
			  <p>
			   <i class="fa fa-check fa-lg pr-10">
              </i>
             Full Broadbean integration.
            </p>
            <p> <i class="fa fa-check fa-lg pr-10">
              </i>Automated social media engagement. </p>
			
			
			<p>
              <i class="fa fa-check fa-lg pr-10"> </i>
			  Externally hosted on Jobshout’s fast, secure server. 
   			 </p>
			 
			 <p>
              <i class="fa fa-check fa-lg pr-10"> </i>
			  Jobshout’s unique technology delivers improved natural search rankings alongside a host of other benefits. It transform your website into a powerful recruitment tool which will save you time, money and resources.
   			 </p>
			 
			  <p>
              <i class="fa fa-check fa-lg pr-10"> </i>
			  Jobshout’s intuitive SEO system ensure that your adverts are seen first by active - and passive - candidates. And it’s in-built application software allows them to instantly apply via your website, or LinkedIn.
   			 </p>
			 
			  <p>
              <i class="fa fa-check fa-lg pr-10"> </i>
			  Jobshout’s in-built content management system (CMS) provides in-depth, real-time analytics and is fully customisable for your recruitment or HR needs.
   			 </p>
			 
			  <hr>
			  
			  
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
            Job Board Software
            </h1>
            <hr>
            <p>
             Jobshout is a flexible, cost effective and fully customisable solution that will transform your online presence and streamline your recruitment workflow.

Every Jobshout job board is built to the customer’s individual requirements. Meaning that you get a job board which works completely in sync with your recruitment process.
            </p>
            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              
    Automatic Search Engine Optimisation (SEO).
   

            </p>
            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              Streamlined online publishing.
   
            </p>
			
			<p> <i class="fa fa-check fa-lg pr-10">
              </i>
			 Intuitive CV handler & parser.
   
			
			</p>
			
			<p> <i class="fa fa-check fa-lg pr-10">
              </i> In-built real time site performance analytics.
    </p>
	
	<p>  <i class="fa fa-check fa-lg pr-10">
              </i>Dynamic RSS feed generator.</p>
	<p> <i class="fa fa-check fa-lg pr-10">
              </i>
    In-built Content Management System (CMS) which professionally brands and formats your content.</p>
	<p> <i class="fa fa-check fa-lg pr-10">
              </i>
    Job brief submission system for clients.
    <p> <i class="fa fa-check fa-lg pr-10">
              </i>Workflow management tools.</p>
			
			
            <hr>
           
          </div>
        </div>
      </div>
    </div>
    <!--property end-->

    <div class="container">

      <div class="row mar-b-60">
        <div class="col-lg-6">
          <!--tab start-->
          <section class="tab wow fadeInLeft">
            <header class="panel-heading tab-bg-dark-navy-blue">
              <ul class="nav nav-tabs nav-justified ">
                <li class="active">
                  <a data-toggle="tab" href="#news">
                    Marketing
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#events">
                    Development
                  </a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#notice-board">
                    Branding
                  </a>
                </li>
              </ul>
            </header>
            <div class="panel-body">
              <div class="tab-content tasi-tab">
                <div id="news" class="tab-pane fade in active">
                  
				          
                      <p>
                      Jobshout can work with you marketing department to run tailor-made campaigns and implement a solution which works for your business. You can be confident that you are using trusted and tested technology to bring real results. 
                      </p>
                  
                  
                </div>
                <div id="events" class="tab-pane fade">
                    <p>
                    Jobshout has been serving clients in many different market sectors with-in Recruitment and HR for over 7 years. Our development team is currently working on our next major release Jobshout version 5 - the all new cloud based solution with ATS / CRM, Candidate Bookings and Timesheet billing. Our modular software development approach ensures we keep the software simple and powerful and keep up-to-date with technology so you can concentarte on what you do best. 
                      </p>
                  
                  
                </div>
                <div id="notice-board" class="tab-pane fade">
                   <p>
                  Jobshout quickly and seamlessly adds a branded job board to your website, with no capital costs or technical expertise involved. “We can literally have a job board up and running within an 24 hours,” says managing director B S WALIA, “and that means a site that reflects the look and feel of the main site, as well as the client’s branding.”</p>
                </div>
              </div>
            </div>
          </section>
          <!--tab end-->
        </div>
        <div class="col-lg-6">
          <!--testimonial start-->
          <div class="about-testimonial boxed-style about-flexslider ">
            <section class="slider wow fadeInRight">
              <div class="flexslider">
                <ul class="slides about-flex-slides">
                  <li>
                    
                    <a class="#" href="#">
                    Cookie Law
                    </a>
                    <span class="about-testimonial-company">
                     27 Jul 2012
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                       Dear Customer,We are writing to inform you of legislation that has been introduced by the UK Government that will affect your Jobshout site.  From Sunday 27th May, 2012 all website owners will be required to obtain ‘informed consent.
                      </p>
                    </div>
                  </li>
                  <li>
                    
                    <a class="#" href="#">
                    Cookie Law
                    </a>
                    <span class="about-testimonial-company">
                     27 Jul 2012
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                       Dear Customer,We are writing to inform you of legislation that has been introduced by the UK Government that will affect your Jobshout site.  From Sunday 27th May, 2012 all website owners will be required to obtain ‘informed consent.
                      </p>
                    </div>
                  </li>
				  
				  
				  
                </ul>
              </div>
            </section>
          </div>
          <!--testimonial end-->
        </div>
        </div>
      </div>


      <!--recent work start-->
    <div class="bg-lg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 recent">
            <h3 class="recent-work">
          Some of our Finished job boards
            </h3>
          
            <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">

              <div class="item view view-tenth">
                <img src="img/cv-screen.jpg" alt="work Image">
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="img/propel.jpg" alt="work Image">
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="img/cv-screen.jpg" alt="work Image">
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
             <div class="item view view-tenth">
                <img src="img/cv-screen.jpg" alt="work Image">
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="img/propel.jpg" alt="work Image">
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="img/cv-screen.jpg" alt="work Image">
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!--recent work end-->
    </div>



    <div id="home-services">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>
              In case you need any help
            </h2>
          </div>

          <div class="col-md-4">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-certificate">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                 Custom Development
                </h3>
                <p>
                Jobshout enterprise system comes with custom development add-on services, tailored to each client's requirements.
                  <br>
                  <a href="#">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-phone">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                 Support 24/7
                </h3>
                <p>
                Normal technical support and advise line is open between 9 till 5. Our international presense allows us to have arranged technical support available 24/7.
                  <br>
                  <a href="#">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-th-list">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                 Services
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. orem ipsum dolor .
                  <br>
                  <a href="#">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /row -->

      </div>
      <!-- /container -->

    </div>
    <!-- service end -->
    <!--footer start-->
    <% include include/footer %>
    <!--footer end-->
	<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
    <script src="assets/owlcarousel/owl.carousel.js"></script> 
    <script src="js/superfish.js"></script>
    <script type="text/javascript" src="js/parallax-slider/jquery.cslider.js"></script>
    <script type="text/javascript">
		$(function() {
			$('#da-slider').cslider({
         	 	autoplay    : true,
          		bgincrement : 100
       		});
		
			$('.bxslider1').bxSlider({
          		minSlides: 5,
          		maxSlides: 6,
          		slideWidth: 360,
          		slideMargin: 2,
          		moveSlides: 1,
          		responsive: true,
         		nextSelector: '#slider-next',
          		prevSelector: '#slider-prev',
          		nextText: 'Onward →',
          		prevText: '← Go back'
       		});
       		$("#owl-demo").owlCarousel({
				items : 4
			});
			$('ul.superfish').superfish();
		});

      	$('a.info').tooltip();

      	$(window).load(function() {
       		$('.flexslider').flexslider({
          		animation: "slide",
          		start: function(slider) {
            		$('body').removeClass('loading');
          		}
        	});
      	});
		new WOW().init();
		</script>
  </body>
</html>