<% var pageTileStr= "404"; %>
<%  include include/main-header %>
</head>
<body>
	<% include include/header %>
	<div CLASS="gray-box" STYLE="margin-bottom:0px;"><div CLASS="container content">
      	<div class="row"><div CLASS="col-md-12">
			<div style="float:left;" class="col-md-6">
				<img src="images/404.jpg" width="417" height="279" alt=""/>
			</div>
			<div style="padding-left:20px; padding-top:10px;" class="col-md-6">
				<h1 style="line-height:39px;">Sorry! The page you were looking <br />for was not found.  </h1>
				<ul style="padding-left:18px;">
					<li>If you typed in the address, check your spelling. Could just be a typo.</li>
					<li>Go to <a href="/">main page.</a></li>
					<!--<li>Get to know us a little better - <a href="/about">About us</a>, or visit our full website Site Map here.</li>
					--><li><p class="buttons"> <a class="btn black" href="http://www.facebook.com/pages/Jobshout/139675936083142"><span>Visit us on Facebook</span></a> <a class="btn black" href="http://twitter.com/#!/jobshoutnews" target="_blank" title="follow our tweets."><span>follow our tweets.</span></a> </p></li>
				</ul>
			</div>
		</div></div>
	</div></div>
	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
  </body>
</html>